*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.cicle1{
    height:105vh;
    background-image:linear-gradient(to bottom, #B2EEE2, #009AD2);
}
.cicle1-container{
    margin-top:2%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#93DFDF;
    height:80vh;
    border-radius:10px;
}
.buttons-tasks{
    width:80%;
    display:flex;
    flex-direction:column;
    text-align:Center;
}
.task-btn:hover{
    border:none;
}
.task-btn .task:hover{ 
    font-size:1.4em;
    transition:1s ease;
    text-shadow: 2px 9px 10px rgba(255,255,255,0.6);
    border:none;
}
.task-btn .line{
    height:1px;
    background-color:white;
    width:100%;
    margin-top:2%;
}
.task-btn .task{
    margin-top:1%;
    transition:1s ease;
    border:none;
}
.link-cicle1{
    text-decoration:none;
    color:white;
    font-family:'Poppins';
    font-weight:500;
    font-size:2em;
}































