*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.cicle1{
    height:105vh;
    background-image:linear-gradient(to bottom, #B2EEE2, #009AD2);
}
.cicle1-container{
    margin-top:1.5%;
    display:flex;
    background-color:#93DFDF;
    height:90vh;
    border-radius:10px;
}
.btns{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.task-btn .line{
    width:300%;
    height:3px;
    background-color:white;
}
.task-btn .task{
    color:white;

    font-family:'Poppins';
    font-size:2.5em;
    margin-top:10%;
}
































.header-ciclo1{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -8%;
    color: #FD7A39;
    background-color: white;

} 
.inter-txt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */
color: #FD7A39;

}
.logout{
    margin-left: 700px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 52px;
/* identical to box height */
color: #FD7A39;
}
.header-ciclo1 div{
    display: inline-block;
    padding:1em;
}

.ciclo1{
    background-image: linear-gradient(180deg, #B2EEE2 0%, #009AD2 100%, #009AD2 100%);
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ciclo1Frame{
    position: relative;
    width: 1262px;
    height: 720px;

    top: 98px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #93DFDF;
    border-radius: 10px;
}
.tipo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
}
.linha{
    width: 1058px;
    height: 0px;
    margin-left: 100px;
    margin-top: 83px;
    margin-bottom: 83px;

    border: 2px solid #FFFFFF;
}
.topFrame{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;

}
.txt-ciclo1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 30px;  
    display: inline;
}
.txt-nivel1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 900px;
    display: inline;
}