*{
    margin:0;
    padding:0;
    box-sizing:content-box;
}

.login{
    background-image:linear-gradient(to top, #07BDFF, #009AD2);
    height:100vh;
}
.login-container2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:0%;
    background-color:#5ECBF3;
    height:90vh;
    border-radius:10px;
}