@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.header-dicionario{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -5%;
    color: #FD7A39;
    background-color: white;

}
.inter-txt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */
color: #FD7A39;

}
.logout{
    margin-left: 700px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 52px;
/* identical to box height */
color: #FD7A39;
}
.header-dicionario div{
    display: inline-block;
    padding:1em;
}

.dicionario{
    background-image: linear-gradient(180deg, #FFC0E3 0%, #FE51B0 100%);
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-family: 'Poppins';
    font-style: normal;
}

.tipo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */

    color: #FFFFFF;
}
.linha{
    width: 1458px;
    height: 0px;
    margin: 10px;

    border: 2px solid #FFFFFF;
}
.topFrame{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;

}
.txt-dicionario{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 30px;  
    display: inline;
}
.txt-nivel1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 900px;
    display: inline;
}

button{
    display:inline-block;
    background: #999999;
    border: 0;
    border-radius: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 0;
    padding:0;
    border-radius: 0;
}
.frase{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}
.pergunta{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    width: 50%;
    color: #FFFFFF;

}
.txt-para{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;

}
.content-dicionario{
    margin-top: 25px;
    margin-left: 50px;
    width:100%
}
.div-1-1{
display: inline-block;
width: 75%;
height: 100%;
font-size: 0;
background-color: purple;
vertical-align: top;
}
.div-1-2{
    display: inline-block;
    font-size: 0;
    width: 25%;
    height: 100%;
    background-color: black;
    vertical-align: top;
}
.div-2-1{
    display:block;
    
    height: 40%;
    width: 100%;
    background-color: red;
}
.div-2-2{
    display: block;
    height: 20%;
    width: 100%;
    background-color: blue;
}
.div-2-3{
    display: block;
    height: 40%;
    width: 100%;
    background-color: yellow;

}.botoes{
    width: 100%;
    height: 50%;
}

.btn1{
background: #F5E45F;
width: 75%;
height:100%;
}.btn2{
background: #00C69E;
width: 25%;
height:100%;
}.btn3{
background: #E2C1F3;
width: 50%;
height:100%;
}.btn4{
background: #FD7A39;
width:50%;
height:100%;
}.btn5{
background: #FD7A39;
width:33%;
height:100%;
}.btn6{
background: #00C69E;
width:34%;
height:100%;
}.btn7{
background: #F5E45F;
width:33%;
height:100%;
}.btn8{
background: #E2C1F3;
width: 100%;
height:100%;
}