@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.header-interpretacao{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -5%;
    color: #FD7A39;
    background-color: white;

}
.inter-txt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */
color: #FD7A39;

}
.logout{
    margin-left: 700px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 52px;
/* identical to box height */
color: #FD7A39;
}
.header-interpretacao div{
    display: inline-block;
    padding:1em;
}

.interpretacao{
    background-image: linear-gradient(180deg, #F5E45F 0%, #FD7A39 100%);
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-family: 'Poppins';
    font-style: normal;
}

.tipo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */

    color: #FFFFFF;
}
.linha{
    width: 1458px;
    height: 0px;
    margin: 10px;

    border: 2px solid #FFFFFF;
}
.topFrame{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;

}
.txt-interpretacao{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 30px;  
    display: inline;
}
.txt-nivel1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 900px;
    display: inline;
}

button{
    background: #999999;
    border: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #FD7A39;
    background-color:white;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 25rem;
    height: 7.5rem;
}
.frase{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}
.pergunta{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    width: 50%;
    color: #FFFFFF;

}
.txt-para{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;

}
.content-interpretacao{
    margin-top: 25px;
    margin-left: 105px;
    width:100%;
    vertical-align: center;
}.botoes{
    width: 100%;
    height: 50%;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}